.wrapper_aboutus_title {
  padding: 64px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
}

.aboutus_title_texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aboutus_title_texts h2 {
  color: #000;
  font-family: "Druk Wide Cy Web Bold Regular";
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
}

.aboutus_title_texts p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.aboutus_title_texts a {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #1a71e3;
  border: none;
}

/* media */

@media screen and (max-width: 1100px) {
  .wrapper_aboutus_title {
    padding: 64px 10px;
  }
}

@media screen and (max-width: 1010px) {
  .aboutus_title_texts h2 {
    font-size: 35px;
  }
  .wrapper_aboutus_title {
    gap: 40px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper_aboutus_title {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 535px) {
  .wrapper_aboutus_title img {
    width: 90%;
  }
}

@media screen and (max-width: 420px) {
  .aboutus_title_texts h2 {
    font-size: 25px;
  }
  .aboutus_title_texts a {
    font-size: 15px;
  }
}
