.ant-drawer-header {
  border: none !important;
}
.ant-drawer-close {
  display: none !important;
}
.drawers_close_btn {
  color: #000;
  font-size: 30px;
  background-color: transparent;
  border: none;
  outline: none;
}
.ant-drawer-title {
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
}
.ant-drawer-body {
  padding: 0px 24px !important;
}
